.carousel {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  display: flex;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  width: 288px;
  white-space: normal;
  padding: 0 1rem;
  flex: 0 0 auto;

  & img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 288px;
    max-height: 160px;
    border-radius: 12px;
  }
}

.carousel-item-title {
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-darkest);
}

.carousel-item-description {
  font-size: .875rem;
  font-weight: 500;
  color: var(--text-base);
}

@media (min-width: 1280px) {
  .carousel {
    width: 90%;
    margin: 0 auto;
    position: relative;
    scroll-snap-type: x mandatory;
    anchor-name: --carousel;
    scroll-marker-group: after;
  }

  .carousel::scroll-marker-group {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }

  .carousel-item {
    scroll-snap-align: start;
  }

  .carousel-item::scroll-marker {
    content: "";
    width: .5rem;
    height: .5rem;
    background-color: var(--interface-base);
    border-radius: 50%;
  }

  .carousel-item::scroll-marker:target-current {
    background-color: var(--brand-primary);
  } 

  .carousel::scroll-button(left),
  .carousel::scroll-button(right) {
    width: 2.5rem;
    height: 2.5rem;
    padding: .75rem;
    border: 1px solid var(--interface-border);
    background-color: var(--brand-primary-light);
    color: var(--brand-primary);
    border-radius: 50%;
    cursor: pointer;
    content: "\279E";
    position: fixed;
    position-anchor: --carousel;
    
  }

  .carousel::scroll-button(left):disabled ,
  .carousel::scroll-button(right):disabled {
    color: var(--text-light);
    opacity: 0.5;
    cursor: not-allowed;
  }

  .carousel::scroll-button(left) {
    transform: rotate(180deg);
    position-area: left center;
    translate: 20%;
    
  }
  .carousel::scroll-button(right) {
    position-area: right center;
    translate: -20%;
  }
}
