.chip {
  width: max-content;
  padding: .5rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: var(--brand-primary-light);
  color: var(--brand-primary);
  border-radius: 2rem;
  
  &.small {
    padding: .375rem 0.625rem;
    font-size: 0.625rem;
  }
}
