.address-dialog {
  z-index: 20;
  position: fixed;
  bottom: -100%;
  width: 100%;
  height: calc(100vh - 16px);
  padding: 1rem;
  border: 1px solid var(--interface-border);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: var(--interface-light);
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s ease-out;
}

.open {
  bottom: 0; 
}

.dialog-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.dialog-title{
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-darkest);
}


@media (min-width: 1280px) {

  body {
    width: 100vw;
  }
  .address-dialog {
    z-index: 20;
    position: fixed;
    right: -30vw;
    width: 30vw;
    height: 100vh;
    transition: right 0.5s ease-in-out;
    border-radius: 0;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1);
  }

  .open {
    right: 0; 
  }
}
