.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.input-small {
  width: 30vw;
}

.text-field {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid var(--interface-base);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 2rem;
  background-color: transparent;
  color: var(--text-darkest);

  &::placeholder{
    color: var(--text-light);
  }

  &:read-only,
  &:disabled {
    background-color: var(--interface-disabled);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* Deprecated, but often included for older browser support */
  white-space: nowrap;
  border: 0;
}

.form-grid {
  display: flex;
  gap: 1rem;
}

@media (min-width: 1280px) {
  .input-small {
    width: 8rem;
  }
}
