* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.25;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 246, 246);
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  display: none;
}

#navigation {
  z-index: 10;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.menu-item {
  list-style-type: none;
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  text-decoration: none;
}

.delivery-address {
  text-align: center;
}

.delivery-text {
  display: none;
}

.greeting-user {}

.order-again {
  margin-bottom: 2.5rem;
}

.order-again-img {
  float: left;
  width: 138px;
  height: 138px;
  border-radius: 12px;
  margin-right: 1rem;
}

.order-again-title {
  margin-bottom: 2.5rem;
}
.order-again-price {
  margin-bottom: 2.5rem;
}
.order-again-add {
  margin-bottom: 2.5rem;
}

@media (min-width: 1280px) {

  .logo {
    display: block;
  }

  .menu-link {
    flex-direction: row;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .delivery-address {
    text-align: right;
  }

  .delivery-text {
    display: inline;
  }
}
