* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.25;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--interface-light);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.logo {
  display: none;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.product-image {
  width: 138px;
  height: 138px;
  border-radius: 12px;

  float: left;
  margin-right: .75rem;
}

.product-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-darkest);
  margin-bottom: 0.5rem;
}

.product-description {
  font-size: .75rem;
  font-weight: 500;
  color: var(--text-base);
  margin-bottom: .5rem;
}

.product-price {
  font-size: 1rem;
  font-weight: 800;
  color: var(--brand-primary);
  margin-bottom: .5rem;
}

.header {
  padding: 1.5rem 0;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-darkest);
  margin-bottom: 1.5rem;
}

#navigation {
  z-index: 10;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100vw;
  padding: 1rem 0;
  border-top: 1px solid var(--interface-border);
  background-color: var(--interface-light);
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  width: 90%;
  margin: 0 auto;
}

.menu-item {
  list-style-type: none;
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  text-decoration: none;
  font-size: .7rem;
  font-weight: 600;
  color: var(--text-light);

  &.active {
    color: var(--brand-primary);
  }
}

.offers {
  margin: 0 0 2.5rem 0;
}

.delivery-address {
  width: 90%;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.delivery-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--brand-primary);
  & span {
    display: none;
  }
}

#change-address {
  border: 0;
  font-weight: 700;
  background: none;
  color: var(--brand-primary);
  cursor: pointer;
  transform: scale(0.7);
}

.greeting-user {
  width: 90%;
  margin: 0 auto;
  font-size: 1.25rem;
  color: var(--text-dark);

  & a {
    font-size: .75rem;
    color: var(--brand-primary);
  }
}

.order-again {
  width: 90%;
  margin: 0 auto 2.5rem auto;
}

.order-again-img {
  float: left;
  width: 138px;
  height: 138px;
  border-radius: 12px;
  margin-right: .75rem;
}

.order-again-title {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-base);
}

.order-again-price {
  margin-bottom: 2.5rem;
  font-size: .875rem;
  font-weight: 900;
  color: var(--text-darkest);
}

.order-again-add {
  margin-bottom: 2.5rem;
  text-decoration: none;
  font-size: .875rem;
  font-weight: 600;
  color: var(--brand-primary);
}

.most-wanted {
  width: 90%;
  margin: 0 auto 5rem auto;
}

.most-wanted-wrapper {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
}

@media (min-width: 1280px) {

  #navigation {
    z-index: 1;
    top: 0;
    position: relative;
  }

  .logo {
    display: block;
  }

  .menu-link {
    flex-direction: row;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .delivery-address {
    text-align: right;
  }

  .delivery-text {
    display: inline;
  }
}
