:root {
  /* Colors */
  --brand-primary: hsla(18, 85%, 50%, 1);
  --brand-primary-light: hsla(18, 85%, 50%, 0.1);

  --interface-darkest: hsla(17, 17%, 8%, 1);
  --interface-dark: hsla(220, 9%, 46%, 1);
  --interface-base: hsla(216, 12%, 84%, 1);
  --interface-light: hsla(0, 13%, 97%, 1);

  --interface-border: hsla(20, 36%, 10%, 0.1);
  --interface-disabled: hsla(220, 14%, 96%, 1);

  ---interface-shadow: hsla(220, 14%, 10%, 0.3);

  --interface-info: hsla(216, 100%, 57%, 1);
  --interface-success: hsla(140, 56%, 41%, 1);
  --interface-warning: hsla(41, 93%, 55%, 1);
  --interface-error: hsla(1, 69%, 53%, 1);

  --text-darkest: hsla(221, 39%, 11%, 1);
  --text-dark: hsla(0, 0%, 0%, 1);
  --text-base: hsla(215, 14%, 34%, 1);
  --text-light: hsla(240, 4%, 46%, 1);

  --common-light: hsla(0, 0%, 100%, 1);
  --common-dark: hsla(0, 0%, 0%, 1);

  /* Spacing */
  --spacing-2xlarge: 2rem; /* 32px */
  --spacing-xlarge: 1.5rem; /* 24px */
  --spacing-large: 1.25rem; /* 20px */
  --spacing-medium: 1.125rem; /* 18px */
  --spacing-base: 1rem; /* 16px */
  --spacing-small: .875rem; /* 14px */
  --spacing-xsmall: .75rem; /* 12px */
  --spacing-2xsmall: .625rem; /* 10px */
}

:root[data-theme="dark"] {
  --brand-primary: hsla(18, 85%, 55%, 1);
  --brand-primary-light: hsla(18, 85%, 60%, 0.15);

  --interface-darkest: hsla(0, 0%, 100%, 0.92);
  --interface-dark: hsla(220, 13%, 90%, 1);
  --interface-base: hsla(220, 11%, 26%, 1);
  --interface-light: hsla(220, 13%, 14%, 1);

  --interface-border: hsla(0, 0%, 100%, 0.08);
  --interface-disabled: hsla(220, 6%, 24%, 1);

  --interface-shadow: hsla(220, 14%, 50%, 0.5);

  --interface-info: hsla(216, 100%, 68%, 1);
  --interface-success: hsla(140, 65%, 50%, 1);
  --interface-warning: hsla(41, 95%, 60%, 1);
  --interface-error: hsla(1, 75%, 60%, 1);

  --text-darkest: hsla(0, 0%, 100%, 1);
  --text-dark: hsla(0, 0%, 95%, 1);
  --text-base: hsla(0, 0%, 80%, 1);
  --text-light: hsla(0, 0%, 65%, 1);

  --common-light: hsla(0, 0%, 10%, 1);
  --common-dark: hsla(0, 0%, 100%, 1);
}
